<head>
  <title>Collbrain</title>
  <link rel="shortcut icon" type="image/png" href="/graphics/favicon.png"/>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body class='blueStyle'>
  <div id="app"></div>
</body>
