@import "sidePanel";
@import "thoughtEditor";
@import "modals";
@import "mainSVG";

& {
  background: darken($mainColor, 10%);
  color: $mainTextColor;
  font-size: $mainFontSize;
  font-weight: bold;
}
.avatar {
  cursor: pointer;
}
.addThoughtButton {
  display: flex;
  position: fixed;
  bottom: 35px;
  right: 35px;
  width: 80px;
  height: 80px;
  background-color: $secondaryColor;
  opacity: 0.7;
  @include border-radius(50%);
  cursor: pointer;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  align-items: center;
  @include shadow(8px,8px,16px,0.4);
  transition: opacity 0.2s, box-shadow 0.2s, -moz-box-shadow 0.2s, -webkit-box-shadow 0.2s, background-color 0.2s;
  padding-top: 2px;
  &:hover {
    opacity: 1;
    @include shadow(12px,12px,24px,0.4);
  }
  &:active {
    background-color: darken($secondaryColor, 10%);
    @include shadow(4px,4px,8px,0.4);
  }
}
.profile {
  opacity: 0.7;
  transition: opacity 0.2s;
  &:hover {
    opacity: 1;
  }
  .profileButton {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: lighten($mainColor, 40%);
    color: lighten($mainColor, 10%);
    @include border-radius(50%);
    cursor: pointer;
    font-size: 40px;
    overflow: hidden;
    font-weight: bold;
    img {
      margin-top: -28px !important;
    }
    .glyphicon-user {
      margin-top: 12px;
    }
    @include shadow(6px,6px,12px,0.4);
    transition: opacity 0.2s, box-shadow 0.2s, -moz-box-shadow 0.2s, -webkit-box-shadow 0.2s, background-color 0.2s;
    &:hover {
      @include shadow(9px,9px,18px,0.4);
      z-index: 10;
    }
    &:active {
      background-color: lighten($mainColor, 45%);
      color: lighten($mainColor, 15%);
      @include shadow(3px,3px,6px,0.4);
    }
  }
  .logoutButton {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 52px;
    right: 18px;
    width: 25px;
    height: 25px;
    background-color: darken($mainColor, 10%);
    color: white;
    @include border-radius(50%);
    cursor: pointer;
    font-size: 15px;
    overflow: hidden;
    font-weight: bold;
    padding-top: 5px;
    @include shadow(6px,6px,12px,0.4);
    transition: opacity 0.2s, box-shadow 0.2s, -moz-box-shadow 0.2s, -webkit-box-shadow 0.2s, background-color 0.2s;
    &:hover {
      background-color: $paperDanger;
      @include shadow(9px,9px,18px,0.4);
    }
    &:active {
      background-color: lighten($mainColor, 45%);
      color: lighten($mainColor, 15%);
      @include shadow(3px,3px,6px,0.4);
    }
  }
}