.main-svg {
  a {
    color: $mainTextColor;
    text-decoration: none;
    &:visited {
    }
    &:hover {
      color: $mainTextColor;
      text-decoration: none;
    }
  }
  @media (max-width: 979px) {
    padding-left: 50px * $smallLogoSize;
  }
  transition: padding-left 0.5s;
  padding-left: 270px * $bigLogoSize;
  background: $mainBackgroundColor;
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  .go-to-parent-button {
    fill: $goToParentButtonFill;
    cursor: pointer;
    transition: fill 0.5s;
    &:hover{
      fill: $goToParentButtonOnHoverFill;
    }
  }
  .thought-space {
    .close-button {
      cursor: pointer;
      fill: $closeButtonFill;
      stroke: $closeButtonStroke;
      stroke-width: $closeButtonStrokeWidth;
      transition: fill 0.2s, stroke 0.2s;
      .icon {
        font-size: 25px;
        color: $closeButtonIcon;
        transition: color 0.2s;
        margin-top: -9px;
        margin-left: 6px;
      }
      &:hover {
        fill: $closeButtonOnHoverFill;
        stroke: $closeButtonOnHoverStroke;
        .icon {
          color: $closeButtonOnHoverIcon;
        }
      }
    }
    .ts-background {
      cursor: pointer;
      fill: $tsBackgroundFill;
      stroke: $tsBackgroundStroke;
      stroke-width: $tsBackgroundStrokeWidth;
      transition: fill 0.2s;
      //fill-opacity: 0.5;
      &.on-drag-over {
        fill: $tsBackgroundOnDragOverFill;
      }
      &.on-add-here {
        fill: $tsBackgroundOnAddHereFill;
      }      
      &:hover {
        fill: $tsBackgroundOnHoverFill;
      }
      &.main {
        &:hover {
          fill: lighten($tsBackgroundFill, 5%);
        }
      }
    }
  }
  .thought-image {
    cursor: pointer;
    .author-avatar {
      visibility: hidden;
    }
    &:hover {
      .author-avatar {
        visibility: visible;
      }
      .children-amount-label {
        background-color: $childrenAmountLabelOnHoverFill;
      }
      .th-body {
        .th-background {
          fill: darken($thBodyFill, 5%);
        }
      }
    }
    .class-label {
      cursor: pointer;
      fill: $classLabelFill;
      transition: fill 0.2s;
      stroke: $classLabelStroke;
      stroke-width: $classLabelStrokeWidth;
      div {
        letter-spacing: 0.5px;
        color: $classLabelTextColor;
        font-size: 5px;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
        padding-left: 1px;
        padding-right: 1px;
        display:block;
      }
      &:hover {
        fill: darken($classLabelFill, 5%);
      }
      &:active {
        fill: darken($classLabelFill, 10%);
      }
    }
    .background-of-open-thought {
      fill: $openBackgroundFill;
      stroke: $openBackgroundStroke;
      stroke-width: $openBackgroundStrokeWidth;
      transition: fill 0.5s, fill-opacity 0.5s;
    }
    .children-amount-label {
      display: flex;
      background-color: $childrenAmountLabelFill;
      border: $childrenAmountLabelStrokeWidth solid $childrenAmountLabelStroke;
      width: 13px;
      height: 9px;
      color: $childrenAmountLabelTextColor;
      @include shadow(1px,1px,2px,0.4);
      @include border-radius(1.5px);
      span {
        height: 7px;
        margin-top: -5.5px;
      }
      font-size: 8px;
      align-items: center;
      justify-content: center;
    }
    .th-body {
      .visibility-icon {
        text {
          font-family: FontAwesome;
          font-weight: normal;
          fill: $visibilityIconFill;
          pointer-events: none;
        }
      }
      .th-background {
        fill: $thBodyFill;
        stroke: $thBodyStroke;
        stroke-width: $thBodyStrokeWidth;
        transition: fill 0.2s;
        &.on-drag-over {
          fill: $thBodyOnDragOverFill;
        }
        &.on-add-here {
          fill: $thBodyOnAddHereFill;
        }
      }
      .text-container {
        width: 100%;
        height: 100%;
        pointer-events: none;
        color: $thoughtTextColor;
        div {
          text-align: center;
          line-height: 120%;
          max-width: 100%;
          word-wrap: break-word;
        }
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &:active {
        .th-background {
          fill: darken($thBodyFill, 10%);
        }
      }
    }
    .corner {
      cursor: pointer;
      fill-opacity: 0.4;
      text {
        font-family: FontAwesome;
        font-weight: normal;
        font-size: 13px;
        fill: $cornerTextColor;
        pointer-events: none;
      }
      foreignObject {
        display: inline-block;
      }
      .corner-background {
        fill: rgba($cornerBackgroundFill, 0);
        transition: fill 0.2s;
      }
      transition: fill 0.2s, fill-opacity 0.2s;
      pointer-events: none;
      &.my {
        pointer-events: auto;
      }
      &:hover {
        fill-opacity: 1;
        text {
          fill: darken($cornerTextColor, 5%);
        }
        .corner-background {
          fill: rgba($cornerBackgroundFill, 0.6);
        }
      }
      &:active {
        fill-opacity: 1;
        text {
          fill: darken($cornerTextColor, 10%);
        }
        .corner-background {
          fill: $cornerBackgroundFill;
          transition: fill 0.2s;
        }
      }  
    }
    text {
      fill: $thoughtTextColor;
    }
  }
  .relation-arrow {
    path {
      fill: $relationArrowFill;
      stroke: $relationArrowStroke;
      stroke-width: $relationArrowStrokeWidth;
      &.bent {
        cursor: pointer;
        &:hover {
          fill: darken($relationArrowFill,5%);
        }
        &:active {
          fill: darken($relationArrowFill,10%);
        }
      }
    }
  }
  .th-image-of-relation {
    .th-background {
      fill: rgba(lighten($thBodyFill, 35%), 0.6) !important;
      transition: fill 0.5s;
    }
    &:hover {
      .th-background {
        fill: $thBodyFill !important;
      }
    }
  }
}
