@mixin placeholder($color: gray) {
  &:-moz-placeholder {
    color: $color;
  }
  &::-moz-placeholder {
    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
  &::-webkit-input-placeholder {
    color: $color;
  }
}
@mixin border-radius($radius: 0%) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}
@mixin shadow($x, $y, $blur, $brightness) {
  -moz-box-shadow:    $x * $shadowSize $y * $shadowSize $blur * $shadowSize rgba(0,0,0,$brightness);
  -webkit-box-shadow: $x * $shadowSize $y * $shadowSize $blur * $shadowSize rgba(0,0,0,$brightness);
  box-shadow:         $x * $shadowSize $y * $shadowSize $blur * $shadowSize rgba(0,0,0,$brightness);
}
@mixin brightness($b) {
  -webkit-filter: brightness($b);
  -moz-filter: brightness($b);
  filter: brightness($b);
}
@mixin transition-delay($del) {
    -webkit-transition-delay: $del;
    transition-delay: $del;
}
@mixin sh8x{
  @include shadow(8px,8px,16px,0.4);
}
@mixin rotate($angle) {
  -ms-transform: rotate($angle);
  -webkit-transform: rotate($angle);
  transform: rotate($angle);
}