.modal-content {
  $default-modal-margin: 25px;
  .modal-header {
    margin: $default-modal-margin;
    padding: 0px;
    .modal-title {
//      text-align: center;
    }    
  }
  &.login-modal {
    .form-group {
      position: relative;
      .login-field-icon {
        text-align: center;
        width: 30px;
        font-size: 20px;
        position: absolute;
        right: 15px;
        top: 3px;
        transition: all 0.20.5s ease 0s;
        padding-top: 2%;
      }
    }
    .modal-body {
      width:100%;
      padding-bottom:20px;
      input {
        height: 40px;
        box-shadow: none;
        padding: 6px;
        border: 1px solid #ddd;
      }
    }
    .modal-register-btn {
      margin: 4% 33% 4% 33%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .modal-body-left {
      float: left;
      width: 50%;
      padding: 4%;
      border-right: 4px solid #ddd;
    }
    .modal-body-right {
      display: flex;
      justify-content: center;
      align-items: center;
      float:right;
      width:50%;
      padding: 4%;
    }
    .facebook, .twitter, .google, .linkedin, .facebook:hover, .twitter:hover, .google:hover, .linkedin:hover {
      width:100%;
      height:40px;
      color: white;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .modal-icons {
      margin-right: 10px;
    }
    .google {
      background-color: $googleMain;
      &:hover {
        background-color: darken($googleMain, 5%);
      }
    }
    .twitter {
      background-color: $twitterMain;
      &:hover {
        background-color: darken($twitterMain, 5%);
      }
    }
    .facebook {
      background-color: $facebookMain;
      &:hover {
        background-color: darken($facebookMain, 5%);
      }
    }
    .linkedin {
      background-color: $linkedinMain;
      &:hover {
        background-color: darken($linkedinMain, 5%);
      }
    }
    .social-icons-conatainer {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .modal-login-btn {
      width: 100%;
      height: 40px;
      margin-bottom: 10px;
    }
  }
  &.register-modal {
    .social-icons-conatainer {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .form-group {
      position: relative;
      .register-field-icon {
        text-align: center;
        width: 30px;
        font-size: 20px;
        position: absolute;
        right: 15px;
        top: 3px;
        transition: all 0.20.5s ease 0s;
        padding-top: 2%;
      }
    }
    .modal-body {
      width: 50%
    }
    .register-modal-body {
      padding-bottom:20px;
      input {
        height: 40px;
        box-shadow: none;
        padding: 6px;
        border: 1px solid #ddd;
      }
    }
    .modal-register-btn {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .alert {
      margin: 0px 20px 0px 20px;
      .close {
        line-height: 50%;
      }
    }
  }
  &.question-modal {
    .question-modal-body {
      font-weight: normal;
      font-size: 13px;
      margin-bottom: $default-modal-margin;
      .question-content {
        margin: $default-modal-margin;
      }
      .question-options {
        display: flex;
        justify-content: center;
        .btn {
          margin: 5px;
        }      
      }
    }
  }
}