.sidePanel {
  position: fixed;
  height: 100%; //150px * $smallLogoSize;
  //width: 50%;
  display: flex;
  .panel {
    background-color: fade-out(darken($mainColor, 35%),0.25);
    height: 100%; //150px * $smallLogoSize;
    width: 270px * $bigLogoSize;
    transition: width 0.5s, height 0.5s, margin-top 0.5s, background-color 0.5s;
    .logo {
      transition: width 0.5s, margin 0.5s, background-position 0.5s, background-size 0.5s, height 0.5s, opacity 0.2s;
      cursor: pointer;
      margin: 10px * $bigLogoSize;
      width: 250px * $bigLogoSize;
      height: 189.5px * $bigLogoSize;
      opacity: 0.6;
      @include border-radius(3px);
      @include brightness(160%); //TODO zastąpić to zmianą obrazka, gdy już będzie ustawione na stałe
      //background-color: $mainColor;
      background-position: 0px 0px;
      background-image: url('graphics/logo.png');
      background-size: (250px * $bigLogoSize) (189.5px * $bigLogoSize);
      background-repeat: no-repeat;
      @include shadow(6px,6px,12px,0.4);
      &:hover {
        opacity: 0.8;
      }
      &:active {
        opacity: 1;
      }
    }
    .version {
      height: 40px;
      span {
        display: inline-block;
        overflow: hidden;
        height: 25px;
        white-space: nowrap;
      }
      .v2 {
        max-width: 0;
      }
      color: lighten($mainColor, 10%);
      text-align: center;
      width: 100%;//270px * $bigLogoSize;
      transition: opacity 0.1s;
    }
    .sideLink {
      @include border-radius(3px);
      background-color: fade-out(darken($mainColor, 35%),0.25);
      font-size: 13px;
      cursor: pointer;
      height: 40px;
      color: lighten($mainColor, 10%);
      margin: 3px;
      padding-top: 8px;
      padding-left: 12px;
      transition: all 0.2s;
      .fa {
        text-align: center;
        width: 20px;
        position: absolute;
        font-size: 15px;
        margin-top: 4px;
      }
      white-space: nowrap;
      .txt {
        transition: max-width 0.5s;
        max-width: 100px;
        position: absolute;
        margin-left: 27px;
        display: inline-block;
        overflow: hidden;
        margin-bottom: 0px;
      }
      &:hover {
        background-color: fade-out(darken($mainColor, 25%),0.25) !important;
        color: lighten($mainColor, 30%) !important;
      }
    }
    @include shadow(4px,4px,8px,0.4);
    @media (max-width: 979px) {
      background-color: fade-out(darken($mainColor, 28%),0.25);
      height: 100%; //150px * $smallLogoSize;
      width: 50px * $smallLogoSize;
      .logo {

        cursor: pointer;
        margin: 0px;
        margin-top: (189.5px * $bigLogoSize - 50px * $smallLogoSize + 10px * $bigLogoSize);
        margin-bottom: 10px * $bigLogoSize;
        width: 50px * $smallLogoSize;
        height: 50px * $smallLogoSize;
        opacity: 0.6;
        @include brightness(160%); //TODO zastąpić to zmianą obrazka, gdy już będzie ustawione na stałe
        //background-color: $mainColor;
        background-position: (-25px * $smallLogoSize) (-3.8px * $smallLogoSize);
        background-size: (100px * $smallLogoSize) (75.8px * $smallLogoSize);
        &:hover {
          opacity: 0.8;
        }
        &:active {
          opacity: 1;
        }
      }
      .version {
        .v1,.v4 {
          max-width: 0;
        }
        .v2 {
          max-width: 8px;
//          @include transition-delay(0.5s); 
        }
        span {
          transition: max-width 0.5s;
        }
      }
      .sideLink {
        background-color: fade-out(darken($mainColor, 28%),0.25);
        .txt {
          max-width: 0px;
        }
      }
      @include shadow(4px,4px,8px,0.4);
      &:hover {
        background-color: fade-out(darken($mainColor, 35%),0.25);
        width: 270px * $bigLogoSize;
        height: 100%;
        //margin-top: 0px;
        .logo {
          width: 250px * $bigLogoSize;
          margin: 10px * $bigLogoSize;
          height: 189.5px * $bigLogoSize;
          background-position: 0px 0px;
          background-size: (250px * $bigLogoSize) (189.5px * $bigLogoSize);
        }
        .version {
          .v1,.v4 {
            max-width: 60px;
          }
          .v2 {
            max-width: 0;
            transition: max-width 0.2s;
          }
          span {
            transition: max-width 0.5s;
            //@include transition-delay(0.5s);
          }
        }
        .sideLink {
          background-color: fade-out(darken($mainColor, 35%),0.25);
          .txt {
            max-width: 100px;
          }
        }
      }
    }
    .helpIcon {
      cursor: pointer;
      width: 22px;
      height: 22px;
      font-size: 16px;
      display: flex;
      position: fixed;
      bottom: 0px;
      padding-top: 3px;
      opacity: 0.6;
      padding-left: 5.5px;
      background-color: lighten($mainColor,15%);
      color: darken($mainColor,20%);
      align-self: flex-end;
      margin: 10px;
      @include border-radius(50%);
      @include shadow(2px,2px,4px,0.4);
      transition: opacity 0.2s;
      &:hover {
        opacity: 0.8;
      }
      &:active {
        opacity: 1;
      }
    }
  }
}
