.thoughtEditor {
  display: inline-block;
  position: fixed;
  bottom: 0px;
  right: 0px;
  padding: 30px 32px 15px 30px;
  background-color: fade-out(darken($mainColor, 35%),0.25);
  &.hidden {
    visibility: hidden;
  }
  .thoughtProject {
    display: flex;
    justify-content: center;
    align-items: center;
    .thoughtProjectInside {
      margin: 5px;
      .classInput {
        margin-left: 2px;
        background-color: $classLabelFill;
        @include border-radius(3px 3px 0px 0px);
        display: block;
        color: $classLabelTextColor;
        padding-left: 8px;
        text-transform: uppercase;
        border: 0 none;
        outline: none;
        overflow: hidden;
        width: 80px; // =gConst('commonThought.classLabel.width')*2
        height: 18px; // =gConst('commonThought.classLabel.height')*2
        font-weight: bold;
        letter-spacing: 0.5px;
        font-size: 10px;
        @include shadow(4px,4px,8px,0.4);
        @include placeholder($classLabelPlaceholderColor);
      }
      textarea {
        color: $mainTextColor;
        resize: none;
        @include border-radius(3px);
        background-color: $thBodyFill;
        padding: 8px; // =gConst('commonThought.margin')
        border: $thBodyStrokeWidth solid $thBodyStroke;
        outline: none;
        overflow: hidden;
        width: 200px; //=gConst('commonThought.width')*2
        height: 100px; //=gConst('commonThought.height')*2
        line-height: 120%;
        font-weight: bold;
        font-size: 16px;
        @include shadow(4px,4px,8px,0.4);
        @include placeholder(darken($mainColor, 15%));
      }
    }
  }
  .visibility {
    width: 195px; //=gConst('commonThought.width')*2
    color: white;
    display: flex;
    select {
      width: 200px;
      background: transparent;
      //background-color: darken($mainColor, 30%) !important;
      font-size: 12px !important;
      height: 23px;
      padding: 0px;
      margin-left: 2.5px;
      margin-top: -5px;
      margin-bottom: 6px;
      color: lighten($mainColor, 20%);
      option {
        font-weight: bold;
        background-color: darken($mainColor, 30%) !important;
      }
    }
  }
  .draftCheckbox {
    width: 200px; //=gConst('commonThought.width')*2
    color: white;
  }
  .commitButton {
    color: white;
    @include border-radius(3px);
    cursor: pointer;
    background-color: darken($paperPrimary, 5%);
    &:hover {
      background-color: darken($paperPrimary, 10%);
      @include shadow(6px,6px,12px,0.4);
    }
    &:active {
      background-color: darken($paperPrimary, 15%);
      @include shadow(2px,2px,4px,0.4);
    }
    border: 0 none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4px;
    margin-right: 4px;
//    width: 80%;
//    width: 200px; //=gConst('commonThought.width')*2
    height: 25px;
//    line-height: 120%;
    font-weight: bold;
//    font-size: 16px;
    @include shadow(4px,4px,8px,0.4);
//    @include placeholder(darken($mainColor, 15%));
  }
  .buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    .button {
      width: 60px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 25px;
      cursor: pointer;
      @include border-radius(50%);
      margin: 4px;
      @include shadow(8px,8px,16px,0.4);
      font-weight: bold;
      transition: opacity 0.2s, box-shadow 0.2s, -moz-box-shadow 0.2s, -webkit-box-shadow 0.2s, background-color 0.2s;
      &:hover {
        @include shadow(12px,12px,24px,0.4);
      }
      &:active {
        @include shadow(4px,4px,8px,0.4);
      }
      &.button-sm {
        width: 48px;
        height: 48px;
        margin: 3.2px;
        font-size: 25px;
        &.closeButton {
          font-size: 36px;        
        }
      }
      &.closeButton {
        background-color: $paperDanger;
        color: white;
        font-size: 45px;
        &:hover {
          background-color: darken($paperDanger, 5%);
        }
        &:active {
          background-color: darken($paperDanger, 10%);
        }
      }
      &.acceptButton {
        background-color: $paperSuccess;
        color: white;
        &:hover {
          background-color: darken($paperSuccess, 5%);
        }
        &:active {
          background-color: darken($paperSuccess, 10%);
        }
      }
      &.commitButton {
        background-color: darken($paperPrimary, 5%);
        color: white;
        &:hover {
          background-color: darken($paperPrimary, 10%);
        }
        &:active {
          background-color: darken($paperPrimary, 15%);
        }
      }
      &.removeButton {
        background-color: darken($mainColor, 20%);
        color: white;
        &:hover {
          background-color: darken($mainColor, 25%);
        }
        &:active {
          background-color: darken($mainColor, 30%);
        }
      }
      &.methodButton {
        background-color: fade-out($secondaryColor,0.5);
        &:hover {
          background-color: fade-out(darken($secondaryColor, 5%),0.5);
        }
        &:active {
          background-color: fade-out(darken($secondaryColor, 10%),0.5);
        }
        &.enabled {
          background-color: $secondaryColor;
          &:hover {
            background-color: darken($secondaryColor, 5%);
          }
          &:active {
            background-color: darken($secondaryColor, 10%);
          }
        }
        &.inv {
          background-color: fade-out($secondaryColor,1) !important;
          background-image: none !important;
          transition: background-color 0.5s;
          pointer-events: none;
          @include shadow(8px,8px,16px,0);
        }
        background-repeat: no-repeat;
        background-position: center;
        &.common {
          background-image: url('graphics/addThought.png');
        }
        &.relational {
          background-position: 57% 50%;
          background-image: url('graphics/addArrow.png');
        }
        &.relationalSymmetric {
          position: absolute;
          bottom: 5px;
          left: 18px;
          width: 37px;
          height: 37px;
          background-position: 42% 50%;
          background-size: 18px;
          background-image: url('graphics/duplexArrow.png');
        }
      }
    }
  }
}

.thoughtAddingLayer {
  background: transparent;
  display:block;
  position:fixed;
  width:100%;
  height:100%;
  &.relationalLayer {
    cursor: url('graphics/addArrow.png'), pointer !important;
  }
  &.relationalSymmetricLayer {
    cursor: url('graphics/addArrow.png'), pointer !important;
  }
  &.commonLayer {
    cursor: url('graphics/addThought.png'), pointer !important;
  }
}
