$green: #4CAF50;
$gray: #3c3c3c;
$violet: #766d8c;
$grayviolet: #7a7683;
$gold: #f1c53f;
$blue: #0080f0;
$red: #e51c23;

$paperPrimary: #2196f3;
$paperSuccess: #4caf50;
$paperInfo: #9c27b0;
$paperWarning: #ff9800;
$paperDanger: #e51c23;

$facebookMain: #3b5999;
$twitterMain: #00aced;
$googleMain: #dd4b39;
$linkedinMain: #007bb6;

$shadowSize: 0.7; //=shadowSize from SVGDefs

@import "imports/mixins";
  

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('fonts/glyphicons-halflings-regular.eot');
  src: url('fonts/glyphicons-halflings-regular.eot?') format('embedded-opentype'),
    url('fonts/glyphicons-halflings-regular.woff2') format('woff2'),
    url('fonts/glyphicons-halflings-regular.woff') format('woff'),
    url('fonts/glyphicons-halflings-regular.ttf') format('truetype'),
    url('fonts/glyphicons-halflings-regular.svg') format('svg');
}

@import '../../node_modules/react-joyride/lib/styles/react-joyride';

body {
  &.blueStyle {
    @import 'imports/varieties/blueStyle';
    @import 'imports/common';
  }
  &.oldGrayStyle {
    @import 'imports/varieties/oldGrayStyle';
    @import 'imports/common';
  }
  &.newGrayStyle {
    @import 'imports/varieties/newGrayStyle';
    @import 'imports/common';
  }
}




  
