$mainColor: $grayviolet;
$secondaryColor: $gold;
$mainTextColor: darken($mainColor, 35%);

$joyride-color: $paperDanger;

$mainFontSize: 12px;
$smallLogoSize: 1;
$bigLogoSize: 0.7;

$mainStrokeWidth: 0px;

$mainBackgroundColor: darken($mainColor, 10%);
$goToParentButtonFill: rgba(lighten($mainColor, 20%), 0.5);
$goToParentButtonOnHoverFill: rgba(lighten(mix($mainColor, $secondaryColor, 30%), 16%), 0.5);

$auxiliaryMain: lighten($blue, 8%);
$auxiliarySecondary: lighten($red, 10%);

$tsBackgroundFill: lighten($auxiliaryMain, 46%);
$tsBackgroundOnDragOverFill: lighten(mix($auxiliaryMain, $auxiliarySecondary, 50%), 25%);
$tsBackgroundOnAddHereFill: lighten(mix($auxiliaryMain, $auxiliarySecondary, 50%), 25%);
$tsBackgroundOnHoverFill: lighten($secondaryColor, 20%);
$tsBackgroundStroke: black;
$tsBackgroundStrokeWidth: $mainStrokeWidth;

$closeButtonFill: white;
$closeButtonIcon: darken($blue, 10%);
$closeButtonStroke: darken($blue, 10%);
$closeButtonStrokeWidth: 2px;
$closeButtonOnHoverFill: white;
$closeButtonOnHoverIcon: $red;
$closeButtonOnHoverStroke: $red;


$classLabelFill: darken($blue, 15%);
$classLabelStroke: $blue;
$classLabelStrokeWidth: $mainStrokeWidth;
$classLabelTextColor: white;
$classLabelPlaceholderColor: lighten($blue, 30%);

$thBodyFill: $tsBackgroundFill;
$thBodyOnDragOverFill: mix($thBodyFill, $secondaryColor, 70%);
$thBodyOnAddHereFill: mix($thBodyFill, $secondaryColor, 70%);
$thBodyStroke: darken($blue, 15%);
$thBodyStrokeWidth: 3px;
$visibilityIconFill: rgba($blue, 0.16);
$openBackgroundFill: rgba($blue, 0.4);
$openBackgroundStroke: black;
$openBackgroundStrokeWidth: $mainStrokeWidth;
$thoughtTextColor: $mainTextColor;

$childrenAmountLabelFill: darken($blue, 15%);
$childrenAmountLabelOnHoverFill: $red;
$childrenAmountLabelStroke: black;
$childrenAmountLabelStrokeWidth: $mainStrokeWidth;
$childrenAmountLabelTextColor: white;

$cornerTextColor: darken($blue, 15%);
$cornerBackgroundFill: darken($blue, 15%);

$relationArrowFill: darken($blue, 30%);
$relationArrowStroke: black;
$relationArrowStrokeWidth: $mainStrokeWidth;