$mainColor: $grayviolet;
$secondaryColor: $gold;
$mainTextColor: darken($mainColor, 35%);

$joyride-color: $paperDanger;

$mainFontSize: 12px;
$smallLogoSize: 1;
$bigLogoSize: 0.7;

$mainStrokeWidth: 0px;

$mainBackgroundColor: darken($mainColor, 10%);
$goToParentButtonFill: rgba(lighten($mainColor, 20%), 0.5);
$goToParentButtonOnHoverFill: rgba(lighten(mix($mainColor, $secondaryColor, 30%), 16%), 0.5);

$tsBackgroundFill: lighten($mainColor, 46%);
$tsBackgroundOnDragOverFill: lighten(mix($mainColor, $secondaryColor, 50%), 25%);
$tsBackgroundOnAddHereFill: lighten(mix($mainColor, $secondaryColor, 50%), 25%);
$tsBackgroundOnHoverFill: lighten(mix($mainColor, $secondaryColor, 30%), 30%);
$tsBackgroundStroke: black;
$tsBackgroundStrokeWidth: $mainStrokeWidth;

$closeButtonFill: lighten($mainColor, 25%);
$closeButtonIcon: lighten($mainColor, 5%);
$closeButtonStroke: red;
$closeButtonStrokeWidth: $mainStrokeWidth;
$closeButtonOnHoverFill: lighten(mix($mainColor, $secondaryColor, 70%), 30%);
$closeButtonOnHoverIcon: lighten(mix($mainColor, $secondaryColor, 70%), 10%);
$closeButtonOnHoverStroke: red;


$classLabelFill: lighten(mix($mainColor, $secondaryColor, 70%), 10%);
$classLabelStroke: white;
$classLabelStrokeWidth: $mainStrokeWidth;
$classLabelTextColor: $mainTextColor;
$classLabelPlaceholderColor: darken($mainColor, 15%);

$thBodyFill: $mainColor;
$thBodyOnDragOverFill: mix($thBodyFill, $secondaryColor, 70%);
$thBodyOnAddHereFill: mix($thBodyFill, $secondaryColor, 70%);
$thBodyStroke: white;
$thBodyStrokeWidth: $mainStrokeWidth;
$visibilityIconFill: rgba(black, 0.08);
$openBackgroundFill: rgba(lighten($thBodyFill, 40%), 0.4);
$openBackgroundStroke: black;
$openBackgroundStrokeWidth: $mainStrokeWidth;
$thoughtTextColor: $mainTextColor;

$childrenAmountLabelFill: lighten($mainColor, 15%);
$childrenAmountLabelOnHoverFill: lighten(mix($mainColor, $secondaryColor, 70%), 10%);
$childrenAmountLabelStroke: black;
$childrenAmountLabelStrokeWidth: $mainStrokeWidth;
$childrenAmountLabelTextColor: $mainTextColor;

$cornerTextColor: lighten($thoughtTextColor, 10%);
$cornerBackgroundFill: darken($mainColor, 15%);

$relationArrowFill: darken(mix($mainColor, $secondaryColor, 70%),5%);
$relationArrowStroke: black;
$relationArrowStrokeWidth: $mainStrokeWidth;